*.o
*.lo

*.lib
*.a
*.la

*/.deps
*/.dirstamp
*/.libs
.libs
.deps
.dirstamp

*.dll
*.so
*.so.*
*.dylib

*.exe
*.out
*.app

Makefile
Makefile.in

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/config.*
/ltmain.sh
/m4/*
/libtool
/stamp-h1

/build-mac/libmail.xcodeproj/project.xcworkspace/xcuserdata/
/build-mac/libmail.xcodeproj/xcuserdata/